<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="MissileAtackImitatorNS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <userSettings>
        <MissileAtackImitatorNS.Properties.Settings>
            <setting name="PythonScriptFilename" serializeAs="String">
                <value>.\TrajectoryGenerator\trajectorygenerator.py</value>
            </setting>
            <setting name="StepsCount" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="MissileVelocityModule" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="PropCoeff" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="Defuzzification" serializeAs="String">
                <value>Centroid</value>
            </setting>
            <setting name="Inference" serializeAs="String">
                <value>Max-Prod</value>
            </setting>
            <setting name="IsFirstStart" serializeAs="String">
                <value>True</value>
            </setting>
        </MissileAtackImitatorNS.Properties.Settings>
    </userSettings>
</configuration>
